<!DOCTYPE html>
<html>

  <head>
    <title>Stations List</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/" class="activepage">Home</a>
      <a href="/stations/">Stations</a>
      <a href="/search/">Search Data</a>
    </div>

    <div id="main">
      <a onclick="openNav()"><i class="fa fa-bars"></i></a>
      <div id="filtersToggle">
        <u onclick="toggleFilterOptions()">Filter Results</u>
        - <span id="numResults">2190</span> Results
      </div>
      <div id="filters" hidden>
        <label for="idFilter">ID:</label>
        <input type="text" name="idFilter" id="idFilter" maxlength="4"><br />
        <label for="stateFilter">State:</label>
        <input type="text" name="stateFilter" id="stateFilter" maxlength="2"><br />
        <label for="nameFilter">Station Name:</label>
        <input type="text" name="nameFilter" id="nameFilter"><br />
        <label for="minLatFilter">Min Latitude:</label>
        <input type="text" name="minLatFilter" id="minLatFilter"><br />
        <label for="maxLatFilter">Max Latitude:</label>
        <input type="text" name="maxLatFilter" id="maxLatFilter"><br />
        <label for="minLonFilter">Min Longitude:</label>
        <input type="text" name="minLonFilter" id="minLonFilter"><br />
        <label for="maxLonFilter">Max Longitude:</label>
        <input type="text" name="maxLonFilter" id="maxLonFilter"><br />
        <input type="submit" name="search" id="querySubmit">
      </div>
      <table id="stations">
        <tr id="headers">
          <th>ID</th>
          <th>State</th>
          <th>Station Name</th>
          <th>Latitude</th>
          <th>Longitude</th>
        </tr>
        {% for st in stations %}
        <tr>
          <td><a href="./{{st[0]}}/1">{{st[0]}}</a></td>
          <td>{{st[1]}}</td>
          <td>{{st[2]}}</td>
          <td>{{st[3]}}</td>
          <td>{{st[4]}}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
    <script src="../static/js/filter.js"></script>
    <script src="../static/js/home.js"></script>
  </body>

</html>