{% extends "layout.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="../static/css/home.css">
{% endblock %}

{% block body %}
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="/" class="activepage">Home</a>
  <a href="/stations/">Stations</a>
  <a href="/search/">Search Data</a>
</div>

<div id="main">
  <a onclick="openNav()"><i class="fa fa-bars"></i></a>

  <h1>Nationwide Hourly Weather Log</h1>
  <p>
    The goal of this project is to collect and view weather data collected from
    over 2000 weather stations across the contiguous 48 states.
  </p>

  <div>
    <!--
      <img src='../static/img/stations.png'>
    -->
    <div id="stationMap"></div>
    <script>
      let data = [{
        type: 'scattergeo',
        mode: 'markers',
        lon: {{ lons }},
        lat: {{ lats }},
        marker: {
          size: 4,
          color: 'blue'
        },
      }];
      
      let layout = {
        geo: {
          scope: 'usa',
          showland: true,
          landcolor: 'rgb(212,212,212)',
          subunitcolor: 'rgb(255,255,255)',
          countrycolor: 'rgb(255,255,255)',
          showlakes: true,
          lakecolor: 'rgb(255,255,255)',
          resolution: 110,
        },
        title: 'Available Weather Stations in USA',
        margin: {
          l: 0,
          r: 0,
          b: 0,
          t: 0,
        }
      };

      Plotly.newPlot('stationMap', data, layout);
    </script>
  </div>


  <div id="clock">
    <span id="time"></span>
    <script>
      function getDateString() {
        $("#time").text("Current Date: " + new Date().toLocaleString());
      }
      setInterval(getDateString, 1000);
    </script>
  </div>

  <div id="highlow">
    <h3>Daily Extremes (so far today):</h3>
    <p>High Temperature: <span id="natHigh"></span></p>
    <p>Low Temperature: <span id="natLow"></span></p>
  </div>
  <script src="../../static/js/dailyExtremes.js"></script>


  <footer>
    <a href="https://github.com/tmaldrsn/wx-history"><i class="fa fa-github"></i></a>
  </footer>
</div>

<script src="../static/js/home.js"></script>
{% endblock %}