table {
  background-color: bisque;
  border-collapse: collapse;
}

table * {
  border: 3px solid white;
}

.header * {
  background-color: lightblue;
}

tr:nth-child(even) {
  background-color: beige;
}


.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

.pagination a#activePage {
  background-color: dodgerblue;
  color: white;
}

.pagination a:hover:not(#activePage) {
  background-color: #ddd;
}