<!DOCTYPE html>
<html>

  <head>
    <title>Search Database</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/css/home.css">
  </head>

  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/" class="activepage">Home</a>
      <a href="/stations/">Stations</a>
      <a href="/search/">Search Data</a>
    </div>

    <div id="main">
      <a onclick="openNav()"><i class="fa fa-bars"></i></a>

      <form action="{{ url_for('search.handle_data') }}" method="get">
        STATION: <input type="text" id="station" name="station" maxlength=4><br />
        DATE: <input type="date" id="date" name="date"><br />

        <input type="submit" value="SEARCH!">
      </form>
    </div>
    <script src="../static/js/home.js"></script>
  </body>

</html>