<!DOCTYPE html>
{% block head %}
<title>{% block page_title %}Welcome{% endblock %} | NOAA Hourly Observations</title>
<meta charset='utf-8'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../static/css/home.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type=text/javascript>
  $SCRIPT_ROOT='..';
</script>
{% endblock %}
  
{% block body %}
{% endblock %}